@media (max-width: 782px) {
  .order-top-block {
    background-color: #f1f1f1;
    padding: 75px 30px 75px 30px;
    color: #000000;
  }
  .order__title {
    font-size: 27px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
  }
  .form-order-wrapper {
    padding: 30px 30px 55px 30px;
    background-color: #ffffff;
    color: #000000;
  }
  .order__text {
    font-size: 13px;
    line-height: 24px;
    color: #444444;
    margin: 0;
    margin-bottom: 24px;
  }
  .name-type {
    margin: 0;
    width: 100%;
    position: relative;
    z-index: 2;
    
  }
  .name-type span {
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #63d1bb;
    padding-right: 25px;
    padding-left: 8px;
    background-color: #ffffff;
    z-index: 3;
  }
  .name-type::after {
    content: "";
    width: inherit;
    height: 1px;
    background-color: #63d1bb;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
  }
  .input-wrapper {
    padding-top: 36px;
    padding-bottom: 40px;
  }
  .input-wrapper--contacts {
    padding-top: 5px;
  }
  .input-wrapper--info {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .radio-wrapper {
    margin: 0;
    margin-bottom: 44px;
    padding-left: 62px;
    position: relative;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    color: #000000;
    label {
      cursor: pointer;
    }
  }
  .radio-wrapper:last-child {
    margin-bottom: 0;
  }
  .radio-wrapper input[type="radio"] + .radio-indicator {
    position: absolute;
    width: 36px;
    height: 36px;
    border: 2px solid #444444;
    border-radius: 50%;
    background-color: #ffffff;
    top: 50%;
    left: 0;
    margin-top: -20px;
    cursor: pointer;
  }
  .radio-wrapper input[type="radio"]:checked + .radio-indicator::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #62d1ba;
  }
  .radio-wrapper input[type="radio"] + .radio-indicator:hover {
    border-color: #62d1ba;
  }
  .radio-wrapper input[type="radio"]:checked + .radio-indicator {
    border-color: #62d1ba;
  }
  .radio-wrapper input[type="radio"] + .radio-indicator:active {
    border-color: rgba(#444444, 0.3);
  }
  .radio-wrapper input[type="radio"]:checked + .radio-indicator:active {
    border-color: rgba(#444444, 0.3);
  }
  .checkbox-wrapper {
    margin: 0;
    margin-bottom: 44px;
    padding-left: 62px;
    position: relative;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    color: #000000;
    label {
      cursor: pointer;
    }
  }
  .checkbox-wrapper:last-child {
    margin-bottom: 0;
  }
  .checkbox-wrapper input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    width: 36px;
    height: 36px;
    border: 2px solid #444444;
    background-color: #ffffff;
    top: 50%;
    left: 0;
    margin-top: -20px;
    cursor: pointer;
  }
  .checkbox-wrapper input[type="checkbox"] + .checkbox-indicator svg {
    display: none;
  }
  .checkbox-wrapper input[type="checkbox"]:checked + .checkbox-indicator svg {
    display: block;
    width: 22px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -11px;
  }
  .checkbox-wrapper input[type="checkbox"] + .checkbox-indicator:hover {
    border-color: #62d1ba;
  }
  .checkbox-wrapper input[type="checkbox"]:checked + .checkbox-indicator {
    border-color: #62d1ba;
  }
  .checkbox-wrapper input[type="checkbox"] + .checkbox-indicator:active {
    border-color: rgba(#444444, 0.3);
  }
  .checkbox-wrapper input[type="checkbox"]:checked + .checkbox-indicator:active {
    border-color: rgba(#444444, 0.3);
  }
  
  .input-text-wrapper {
    margin: 0;
    margin-bottom: 24px;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    color: #000000;
    span {
      margin-left: 8px;
    }
  }
  .input-text-wrapper:last-child {
    margin-bottom: 0;
  }
  .input-text-wrapper input {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 8px;
    border: 0;
    border-bottom: 2px solid #000000;
    outline: none;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
  }
  .lb-eml,.lb-ph {
    position: relative;
    display: block;
  }
  .lb-eml svg {
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -16px;
  }
  .lb-ph svg {
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -12.5px;
  }
  .input-text-wrapper input:hover {
    border-color: #62d1ba;
  }
  .input-text-wrapper input:active {
    border-color: #62d1ba;
  }
  .input-text-wrapper input:focus {
    border-color: #62d1ba;
  }
  .contacts-input-wrapper {
    padding: 15px 0 25px 0; 
  }
  .input-wrapper textarea {
    resize: none;
    width: 100%;
    height: 142px;
    box-sizing: border-box;
    padding: 15px 8px 15px 8px;
    background-color: #ffffff;
    border: 2px solid #444444;
    outline: none;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
  }
  .input-wrapper textarea:hover {
    border-color: #62d1ba;
  }
  .input-wrapper textarea:active {
    border-color: #62d1ba;
  }
  .input-wrapper textarea:focus {
    border-color: #62d1ba;
  }
  .input-textarea-wrapper {
    padding-bottom: 0;
  }
  .needed-write {
    font-size: 14px;
    line-height: 16px;
    color: #444444;
    margin-top: 18px;
    margin-bottom: 30px;
  }
  .push-order {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .lb-eml:hover input {
    border-color: #62d1ba;
  }
  .lb-ph:hover input {
    border-color: #62d1ba;
  }
  .lb-eml:active input{
    border-color: #62d1ba;
  }
  .lb-ph:active input{
    border-color: #62d1ba;
  }
  .lb-eml:hover svg {
    fill:#62d1ba;
    opacity: 1;
  } 
  .lb-ph:hover svg{
    fill: #62d1ba;
    opacity: 1;
  }
  .lb-eml svg,.lb-ph svg {
    opacity: 0.2;
  }
}
@media (min-width: 783px) {
  .order-top-block {
    min-height: 52px;
    background-color: #f1f1f1;
    color: #000000;
    padding: 37px 6.5% 73px 6.5%;
    text-align: center;
  }
  .order__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
    color: #000000;
  }
  .form-order-wrapper {
    padding: 86px 0 50px 0;
    margin-top: -15px;
    color: #000000;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .order__text {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    color: #444444;
    margin: 0;
    margin-left: 6.5%;
    margin-right: 6.5%;
    margin-bottom: 72px;
  }
  .type-order-wrapper {
    box-sizing: border-box;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 6.5%;
    padding-right: 6.5%;
    display: flex;
    flex-wrap: wrap;
  }
  .type-order-wrapper--color {
    background-color: #f1f1f1;
  }
  .type-order-wrapper--position {
    padding-bottom: 0;
  }
  .type-order-wrapper:first-child {
    padding-top: 0;
  }
  .name-type {
    margin: 0;
    width: 25%;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    color: #63d1bb;
  }
  .input-wrapper {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
  }
  .radio-wrapper {
    width: 75%;
    padding-left: 80px;
    margin: 0;
    margin-bottom: 64px;
    position: relative;
    label {
      cursor: pointer;
      font-size: 19px;
      line-height: 23px;
      font-weight: 700;
      color: #000000;
    }
  }
  .radio-wrapper input[type="radio"] + .radio-indicator {
    position: absolute;
    width: 46px;
    height: 46px;
    border: 2px solid #444444;
    border-radius: 50%;
    background-color: #ffffff;
    top: 50%;
    left: 0;
    margin-top: -20px;
    cursor: pointer;
  }
  .radio-wrapper input[type="radio"]:checked + .radio-indicator::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #62d1ba;
  }
  .radio-wrapper input[type="radio"] + .radio-indicator:hover {
    border-color: #62d1ba;
  }
  .radio-wrapper input[type="radio"]:checked + .radio-indicator {
    border-color: #62d1ba;
  }
  .radio-wrapper input[type="radio"] + .radio-indicator:active {
    border-color: rgba(#444444, 0.3);
  }
  .radio-wrapper input[type="radio"]:checked + .radio-indicator:active {
    border-color: rgba(#444444, 0.3);
  }
  .checkbox-wrapper {
    box-sizing: border-box;
    width: 37.5%;
    padding-left: 80px;
    margin: 0;
    margin-bottom: 64px;
    position: relative;
    label {
      cursor: pointer;
      font-size: 19px;
      line-height: 23px;
      font-weight: 700;
      color: #000000;
    }
  }
  .checkbox-wrapper:nth-child(odd) {
    margin-right: 45px;
  }
  .checkbox-wrapper input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    width: 46px;
    height: 46px;
    border: 2px solid #444444;
    background-color: #f1f1f1;
    top: 50%;
    left: 0;
    margin-top: -20px;
    cursor: pointer;
  }
  .checkbox-wrapper input[type="checkbox"] + .checkbox-indicator svg {
    display: none;
  }
  .checkbox-wrapper input[type="checkbox"]:checked + .checkbox-indicator svg {
    display: block;
    width: 26px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -13px;
  }
  .checkbox-wrapper input[type="checkbox"] + .checkbox-indicator:hover {
    border-color: #62d1ba;
  }
  .checkbox-wrapper input[type="checkbox"]:checked + .checkbox-indicator {
    border-color: #62d1ba;
  }
  .checkbox-wrapper input[type="checkbox"] + .checkbox-indicator:active {
    border-color: rgba(#444444, 0.3);
  }
  .checkbox-wrapper input[type="checkbox"]:checked + .checkbox-indicator:active {
    border-color: rgba(#444444, 0.3);
  }
  .input-text-wrapper {
    width: 100%;
    margin: 0;
    margin-bottom: 24px;
    position: relative;
    label {
      width: 100%;
      display: flex;
    }
  }
  .input-text-wrapper:last-child {
    margin-bottom: 0;
  }
  .input-text-wrapper--position:first-child {
    margin-bottom: 24px;
  }
  .input-text-wrapper svg {
    position: absolute;
    top: 50%;
    right: 26px;
  }
  .lb-ph svg {
    margin-top: -12.5px;
  }
  .lb-eml svg {
    margin-top: -16px;
  }
  .input-text-name {
    width: 25%;
    padding: 15px 0;
    font-size: 19px;
    line-height: 23px;
    font-weight: 700;
    color: #000000;
  }
  
  .input-text-wrapper input {
    width: 75%;
    padding: 15px 8px;
    border: 0;
    border-bottom: 2px solid #000000;
    outline: none;
    font-size: 19px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
  }
  .type-order-wrapper--color input {
    background-color: #f1f1f1;
  }
  .input-text-wrapper input[type="tel"],.input-text-wrapper input[type="email"] {
    width: 100%;
  }
  .input-text-wrapper input:hover {
    border-color: #62d1ba;
  }
  .input-text-wrapper input:active {
    border-color: #62d1ba;
  }
  .input-text-wrapper input:focus {
    border-color: #62d1ba;
  }
  .lb-eml:hover input {
    border-color: #62d1ba;
  }
  .lb-ph:hover input {
    border-color: #62d1ba;
  }
  .lb-eml:active input{
    border-color: #62d1ba;
  }
  .lb-ph:active input{
    border-color: #62d1ba;
  }
  .lb-eml:hover svg {
    fill:#62d1ba;
    opacity: 1;
  } 
  .lb-ph:hover svg{
    fill: #62d1ba;
    opacity: 1;
  }
  .lb-eml svg,.lb-ph svg {
    opacity: 0.2;
  }
  .input-wrapper textarea {
    resize: none;
    width: 100%;
    height: 142px;
    box-sizing: border-box;
    padding: 15px 8px 15px 8px;
    background-color: #ffffff;
    border: 2px solid #444444;
    outline: none;
    font-size: 19px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
  }
  .input-wrapper textarea:hover {
    border-color: #62d1ba;
  }
  .input-wrapper textarea:active {
    border-color: #62d1ba;
  }
  .input-wrapper textarea:focus {
    border-color: #62d1ba;
  }
  .order-bottom-block {
    padding: 0 6.5%;
    display: flex;
    justify-content: space-between;
  }
  .needed-write {
    order: 2;
    font-size: 17px;
    line-height: 30px;
    color: #444444;
  }
} 
@media (min-width: 1265px) {
  .order-top-block {
    padding: 37px 100px 106px 100px;
  }    
  .order__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: 700;
    color: #000000;
  }
  .form-order-wrapper {
    padding: 106px 0 50px 0;
  }
  .order__text {
    margin-left: 225px;
    margin-right: 225px;
  }
  .type-order-wrapper {
    width: 1250px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .name-type {
    width: 175px;
  }
  .input-wrapper {
    width: 875px;
  }
  .radio-wrapper {
    width: 357px;

  }
  .checkbox-wrapper {
    width: 220px;
    margin-right: 40px;
  }
  .input-text-wrapper {
    width: 875px;
  }
  .input-text-name {
    width: 175px;
  }
  .input-text-wrapper input {
    width: 525px;
  }
  .input-text-wrapper input[type="tel"],.input-text-wrapper input[type="email"] {
    width: 700px;
  }
  .input-wrapper--contacts {
    width: 725px;
    margin-right: 150px;
  }
  .input-text-wrapper--contacts {
    width: 725px;
  }
  .input-wrapper textarea {
    width: 725px;
  }
  .order-bottom-block {
    padding: 0 100px;
  }
}